absl-py==2.3.1
accelerate==1.1.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
av==13.0.0
babel==2.17.0
backports.tarfile==1.2.0
basedpyright==1.39.2
beautifulsoup4==4.13.4
bitsandbytes==0.46.1
black==26.3.1
bleach==6.2.0
blessed==1.21.0
blis==1.3.3
Bottleneck==1.6.0
braceexpand==0.1.7
brokenaxes==0.6.2
brotli==1.2.0
bypy==1.8.9
catalogue==2.0.10
cdflib==1.3.4
certifi==2025.6.15
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
cheroot==11.1.2
CherryPy==18.10.0
chump==1.6.0
chumpy==0.70
click==8.2.1
cloudpathlib==0.24.0
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.10.1
CoLT5-attention==0.11.1
comm==0.2.2
confection==1.3.3
contourpy==1.3.2
crcmod==1.7
cryptography==45.0.6
cycler==0.12.1
cymem==2.0.13
Cython==3.2.1
cython-bbox==0.1.5
datasets==4.0.0
debugpy==1.8.15
decorator==5.2.1
decord==0.6.0
defusedxml==0.7.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@a1ce2f956a1d2212ad672e3c47d53405c2fe4312
diffusers==0.34.0
dill==0.3.8
distlib==0.4.0
distro==1.9.0
docstring_parser==0.16
easydict==1.13
einops==0.8.1
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
facexlib==0.3.0
fastapi==0.135.1
fastjsonschema==2.21.1
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==1.0.0
filelock==3.14.0
filterpy==1.4.5
flatbuffers==25.12.19
fonttools==4.58.5
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.7.0
fsspec==2024.6.1
ftfy==6.1.1
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.4.0
gdown==5.2.1
geocalib @ git+https://github.com/cvg/GeoCalib@982f625d822fbb2b50c65d123fd1362a5c01ec2c
gitdb==4.0.12
GitPython==3.1.44
glcontext==3.0.0
google-auth==2.47.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==1.1.1
gradio==6.9.0
gradio_client==2.3.0
graphviz==0.21
groovy==0.1.2
grpcio==1.74.0
# Editable Git install with no remote (gvhmr==1.0.0)
-e /data/yangtt/Models/HMR/GVHMR
h11==0.16.0
h5py==3.14.0
hf-xet==1.1.5
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.3
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-submitit-launcher==1.2.0
hydra_zen==0.16.0
hyper-connections==0.2.1
icecream==2.1.5
identify==2.6.12
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
iniconfig==2.1.0
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.29.5
ipympl==0.9.7
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
jaraco.collections==5.2.1
jaraco.context==6.1.2
jaraco.functools==4.4.0
jaraco.text==4.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.13.0
jmespath==0.10.0
joblib==1.5.1
json-tricks==3.17.3
json5==0.12.0
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keras==2.11.0
kiwisolver==1.4.8
kornia==0.8.2
kornia_rs==0.1.10
lapx==0.9.4
lazy_loader==0.4
libclang==18.1.1
lietorch==0.6.2.post1
lightgbm==4.6.0
lightning==2.3.0
lightning-utilities==0.15.3
llvmlite==0.44.0
lmdb==1.7.3
local-attention==1.11.2
loguru==0.7.3
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
mdurl==0.1.2
mistune==3.1.3
mixture-of-experts==0.2.3
ml_collections==1.1.0
mmcv==2.2.0
mmengine==0.10.7
model-index==0.1.11
moderngl==5.12.0
moge @ git+https://github.com/microsoft/MoGe.git@07444410f1e33f402353b99d6ccd26bd31e469e8
more-itertools==11.0.2
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
msgspec==0.21.1
multidict==6.6.3
multiprocess==0.70.16
murmurhash==1.0.15
mypy_extensions==1.1.0
narwhals==1.46.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.13.0
nodeenv==1.9.1
nodejs-wheel-binaries==24.14.1
notebook==7.4.4
notebook_shim==0.2.4
numba==0.61.2
numpy==2.2.6
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-ml-py==12.575.51
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.3.1
omegaconf==2.3.0
open3d-python==0.3.0.0
open_clip_torch==3.3.0
openai==2.29.0
openai-clip==1.0.1
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
opendatalab==0.0.10
opendr==0.77
openmim==0.3.9
openpyxl==3.1.5
openxlab==0.1.2
opt_einsum==3.4.0
optree==0.19.0
ordered-set==4.1.0
orjson==3.11.7
oss2==2.17.0
overrides==7.7.0
packaging==24.2
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.4
pathspec==1.0.4
pdfCropMargins==2.2.1
pexpect==4.9.0
pillow==11.0.0
pipeline @ git+https://github.com/EasternJournalist/pipeline.git@866f059d2a05cde05e4a52211ec5051fd5f276d6
platformdirs==4.3.8
plotly==6.2.0
pluggy==1.6.0
polars==1.39.3
polars-runtime-32==1.39.3
portalocker==3.2.0
portend==3.2.1
pre_commit==4.2.0
preshed==3.0.13
prettytable==3.17.0
product_key_memory==0.2.11
progress==1.6.1
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==3.19.6
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycocotools==2.0.10
pycolmap==4.0.3
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydub==0.25.1
pyglet==2.1.6
Pygments==2.19.2
pyiqa==0.1.14.1
PyMuPDF==1.27.2.3
PyOpenGL==3.1.0
pyparsing==3.2.3
pyrender==0.1.45
pyrootutils==1.0.4
PySocks==1.7.1
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-hostlist==2.3.0
python-json-logger==3.3.0
python-multipart==0.0.22
pytokens==0.4.1
pytorch-lightning==2.6.1
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@b6a77ad7aaf41ed90fca80ce6a2bac3c462a7881
pytz==2023.4
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.36.2
regex==2025.7.34
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
roma==1.5.6
routing-transformer==1.6.0
rpds-py==0.26.0
rsa==4.9.1
ruff==0.12.7
safehttpx==0.1.7
safetensors==0.5.3
-e git+https://github.com/facebookresearch/sam3.git@86ed77094094e5cabb16b0414ec60c5ba9ce0a0f#egg=sam3
scikit-image==0.25.2
scikit-learn==1.7.1
scikit-surprise @ file:///data/yangtt/data_ex/surprise
scipy==1.15.3
seaborn==0.13.2
segment-anything==1.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.32.0
setproctitle==1.3.7
shapely==2.1.2
shellingham==1.5.4
simsimd==6.5.16
six==1.17.0
smart_open==7.6.1
smmap==5.0.2
smplx==0.1.28
sniffio==1.3.1
soupsieve==2.7
spacepy==0.7.0
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
stack-data==0.6.3
starlette==0.52.1
stringzilla==4.6.0
submitit==1.5.4
supervision==0.25.1
sympy==1.13.3
tabulate==0.9.0
tempora==5.8.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.18.1
thinc==8.3.13
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==1.0.25
tinycss2==1.4.0
tokenizers==0.15.2
tomli==2.2.1
tomlkit==0.13.3
torch==2.7.1+cu118
torch-dct==0.1.6
torchaudio==2.7.1+cu118
torchinfo==1.8.0
torchmetrics==1.9.0
torchprofile==0.0.4
torchvision==0.22.1+cu118
torchviz==0.0.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.37.2
transforms3d==0.4.2
trimesh==4.7.0
triton==3.3.1
typed-argument-parser==1.10.1
typeguard==4.5.1
typer==0.24.1
typer-slim==0.24.0
types-python-dateutil==2.9.0.20250708
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.13
tzdata==2025.2
ultralytics==8.4.37
ultralytics-thop==2.0.18
uri-template==1.3.0
urllib3==1.26.20
utils3d @ git+https://github.com/EasternJournalist/utils3d.git@3fab839f0be9931dac7c8488eb0e1600c236e183
uvicorn==0.42.0
virtualenv==20.33.0
viser==1.0.29
Wand==0.7.1
wandb==0.21.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==1.0.0
webcolors==24.11.1
webdataset==1.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==16.0
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wis3d==1.0.1
wrapt==2.0.1
xformers==0.0.31
xtcocotools==1.14.3
xxhash==3.5.0
yacs==0.1.8
yapf==0.43.0
yarl==1.20.1
zc.lockfile==4.0
zipp==3.23.0
zstandard==0.25.0
